.radio{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  background: rgba(255,255,255,.3);
  padding:10px;
  margin-bottom: 15px;
}
.radio input{
  align-content: center;
align-items: center;

}

.upload{
  display: flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:10px;
background: rgba(255,255,255,.3);
padding:10px;
}
.pain{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #B68973;
  width: 80%;
}

.pain label{
  color:#600127;
}
.wrapper label{
  margin: 5px;
}
.artist{
  display: flex;
  justify-content: center;
  background: rgba(255,255,255,.3);
padding:10px;
margin-bottom: 50px;
}
.artist{
justify-content: space-evenly;
;}

.input{
  display: flex;
  justify-content: center;
}
.input input{
  align-content: center;
    background: rgba(255,255,255,.3);
    border-radius: 25px;
    border: 0.3px solid #600127;
    color: #600127;
    font-size: 14px;
    padding: 10px 0;
    width: 95%;
}
.input :hover{
  background:#600127;
  color:#faf3e0;
  transition: 1s ease;
}
#mainContent{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #faf3e0;
padding-top: 50px ;
padding-bottom: 50px ;
}
#contenu{
  font-family: Pilar;
  display: flex;
  justify-content: center;
  color: #600127;
}