.header {  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 400ms cubic-bezier(.25,.37,.17,.96); 
  }
  
  /* When header is not in viewport we hide it */
  .header[data-scroll="out"] {
    transform: translatey(-100%);
  }
  
  /* When moving up and header we show it */
  [data-scroll-dir-y="-1"] .header {
    transform: translatey(0);
  }
  
  /* 
  * Base styles 
  */
  :root {
    --color-bone: #f2f4fb;
    --color-pink: #d22780;
    --color-yellow: #f8b500;
    --color-purple: #5e227f;
  }
  
  html {
    font-size: 110%;
  }
  
  body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    line-height: 1.45;
    background-color: var(--color-bone);
  }
  
  a {
    color: var(--color-yellow)
  }
  
  .container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  
  .header {
    padding: .5em 0;
    color: #fff;
    background-color: var(--color-pink);
  }
  
  .main {
    padding: 7.5em 0 4.5em;
  }
  
  .footer {
    padding: .5em 0;
    color: #fff;
    background-color: var(--color-pink);
  }